<!--Shared Layout File-->

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewData["Title"]</title>
    <!--Links to boostrap css file and custom stylesheet and font awesome-->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet"href="~/lib/font-awesome/css/all.min.css"/>
    <link rel="icon" type="image/x-icon" href="~/img/book-icon.jpeg">
</head>

<body>

    <!--Header: Cart Icon and Order Summary -->
    <div class="bg-dark text-white p-2 sticky-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand shadow-sm">ONLINE BOOK STORE</div>
                <div class="col-6 text-right">
                    <vc:cart-summary/>
                </div>
            </div>
        </div>   
    </div>

    <!--main content-->
    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            <!--Category Filtering View Component-->
            <vc:categories />
        </div>

        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>

    </div>

    <!--Links to boostrap js file-->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
