@page
@model OnlineBookStore.Pages.OrderConfirmationModel
@{
    ViewData["Title"] = "Confirmation Page";
}

<!--Confirmation razor page for when a user places as order-->

<div class="text-center">
    <h2>You placed an order -- Thank you for shopping with us!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home Page</a>
</div>